*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: aquamarine;
  height: 100vh;
}
.main-container {
  display: flex;
  justify-content: center;
  margin-top: 42px;
}
.container {
  width: 40%;
  max-width: 400px;
}
.container * {
  font-family: "poppins", sans-serif;
  border: none;
  outline: none;
}
.inputs-wrapper {
  background-color: lightslategrey;
  padding: 30px 25px;
  border-radius: 8px;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  margin-bottom: 50px;
}
input,
button {
  height: 50px;
  background-color: #fff;
  color: #080808;
  font-weight: 600;
  border-radius: 5px;
}
input {
  width: 60%;
  padding: 0 20px;
  font-size: 14px;
}
button {
  width: 30%;
  float: right;
}
.outputs-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.outputs-wrapper div {
  height: 100px;
  width: 100px;
  background-color: darkgreen;
  border-radius: 16px;
  color: #fff;
  display: grid;
  place-items: center;
  padding: 20px 0;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
}
span {
  font-size: 30px;
  font-weight: 600;
}

p {
  font-size: 14px;
  color: #fff;
  font-weight: 500;
}

@media screen and (max-width: 420px) {
  .container {
    width: 95%;
  }
}
